.Card_div {
    width: fit-content;
    height: fit-content;
    background-color: #bbbbbb;
    border: 2px;
    border-style: solid;
    text-align: center;
    padding: 50px 20px;
    border-radius: 25px;
    margin: 10px;
}

.avatar {
    width: 70px;
    height: 70px;
}
